body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e3e9df;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #ffffff;
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(95, 124, 99, 0.2);
}

.icon-circle {
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
  background-color: #5f7c63;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle svg {
  width: 30px;
  height: 30px;
  stroke: #ffffff;
  stroke-width: 2;
  fill: none;
}

h2 {
  margin: 10px 0;
  color: #5f7c63;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #5f7c63;
}

.input-box {
  display: flex;
  align-items: center;
  background-color: #e3e9df;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.input-box input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 14px;
  color: #5f7c63;
}

.icon {
  margin-left: 8px;
}

.icon svg {
  width: 18px;
  height: 18px;
  stroke: #5f7c63;
  stroke-width: 2;
  fill: none;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #5f7c63;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.03);
}